
<html>
    <head>
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="css/grid.css" />
        <meta name="description" content="Personal website of MVineet Yadav. Here are my projects, vision, work." />
        <meta name="keywords" content="Vineet, Vineet Yadav, NIT Delhi, Computers, Science, Engineering, Machine Learning, AI, Bangalore, Delhi, Development, front end, back end, Cricket" />
        <title>Vineet Yadav</title>
    </head>
    <body background="#FFFFFF">
    
        <br><br><br>
        <div class="grid" align='center'>
              <div class="grid__col grid__col--2-of-5 grid__col--centered">
                <!-- <p align="center" class="myname"><font size="7">Vineet Yadav</font></p> -->
                <img src="images/vineet-yadav.png">
              </div>
              <div class="grid__col grid__col--3-of-5 grid__col--centered">
                <p align="center"><font size="3" color="#50C5B7"><i>"When you have exhausted all possibilities, remember this- you haven't."</i> &nbsp -Thomas Edison</font></p>
              </div>
              <div class="grid__col grid__col--3-of-5 grid__col--centered">
                <p align="center"><font color="#50C5B7">Check out my <a href="#" style="color:#48A9A6">startup</a> <a href="#" style="color:#48A9A6"></a>! <br>Also find me on:</p>
              </div>
              <div class="findme">
              <div class="grid__col grid__col--1-of-8">
              </div>
              
              <div class="grid__col grid__col--1-of-8">
                <a href="https://github.com/ivineet"><img src="images/github-logo.png"></a>
              </div>
              
              <div class="grid__col grid__col--1-of-8">
                <a href="https://www.facebook.com/ivineetyadav"><img src="images/fb-logo.jpg"></a>
              </div>
              <div class="grid__col grid__col--1-of-8">
                <a href="https://twitter.com/_vineetyadav"><img src="images/twitter-logo.png"></a>
              </div>
              <div class="grid__col grid__col--1-of-8">
                <a href="http://www.spoj.com/users/#/"><img src="images/spoj-logo.png"></a>
              </div>
              <div class="grid__col grid__col--1-of-8">
                <a href="https://in.linkedin.com/in/vineet-yadav"><img src="images/linkedin-logo.png"></a>
              </div>
              <!--
              <div class="grid__col grid__col--1-of-8">
                <a href="#"><img src="images/app-store-logo.png"></a>
              </div>
              -->
              <div class="grid__col grid__col--1-of-8">
              </div>
            </div>
        </div>
    
        <!-- ______________________________ -->
        <!-- Google Analytics tracking -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
          ga('create', 'UA-16455629-4', 'auto');
          ga('send', 'pageview');
        </script>
    </body>
    </html>